<div class="container-fluid ml-0 " style="height: 100%;">
  <div class="row">

    <!-- Side bar de busqueda antiguo

    <nav class="col bg-light sidebar float-left">
      <form action="" method="POST" class="">
        <div class="sidebar">
          <ul class="nav flex-column">
            <li>
              <h6 class="m-2 text-center mx-auto">
                Busqueda por Nombre
              </h6>
            </li>
            <li class="nav-item m-1">
              <input type="text" name="busqueda" id="Nombre" class="form-control mr-sm-2 p-2" placeholder="Nombre">
            </li>

            <li class="nav-item m-1">
              <select class="custom-select" name="tipo" id="Descripcion">
                {{#each datos}}
                <option value="{{ID_class}}">{{Descrpicion}}</option>
                {{/each}}
              </select>
            </li>
            <li>
              <input type="submit" value="Buscar" class="btn btn-outline-primary btn-block">
            </li>
          </ul>
        </div>
      </form>
    </nav>-->
    <main role="main" class="px-4">
      <div class="container p-4">
        <div class="row">
          
          <div class="">
            <table id="myTable" class="table table-sm table-striped" style="p-4 width:0em">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Municipio</th>
                  <th>Ficha</th>
                </tr>
              </thead>
              <tbody>
                {{#each datos}}
                <tr>
                  <td>{{Nombre}}</td>
                  <td>{{Descripcion}}</td>
                  <td>{{Municipio}}</td>
                  <td>
                    <a href="table/vista/{{Id}}" class="btn btn-primary">Ver</a>
                  </td>
                </tr>
                {{else}}
                <div class="col-md-4 mx-auto">
                  <div class="card card-body text-centered">
                    <p>No hay datos</p>
                  </div>
                </div>
                {{/each}}
              </tbody>
              <tfoot>
                <tr>
                  <td>Nombre</td>
                  <td>Tipo</td>
                  <td>Muncipio</td>
                  <td>Ficha</td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
  </div>
</div>
